@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body {
  background-image: linear-gradient(to bottom right, #722DA0, #e6b7f3);
  color: white;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  min-height: 100vh;

}

img{
	max-width: 100%;
}


.girar-planeta{
  animation: girarPlaneta 30s linear infinite;

}

@keyframes girarPlaneta {
	0% {
		transform: rotate(0);

	}
	100% {
		transform: rotate(360deg);

	}
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}
.efeito-flutuante {
     animation: float 5s ease-in-out infinite;
}